/*log out button*/
.login__container {
    position: relative;
}

.login__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.login__item {
    position: absolute;
    top: 0;
    right: 0;
    list-style-type: none; /* Remove bullet point */
}

